#root {
  font-family: "Poppins", sans-serif;
}


body{
  background-color: #1E2530;
  /* color: #acea42; */
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} 
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

*/


/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #495261;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a5568;
}

::-webkit-scrollbar-track {
  background-color: #232a36;
}

/* For Firefox */
/* Note: Firefox does not support styling the scrollbar directly,
   but you can style the thumb */
/* Use the following CSS, but note that it may not work perfectly in Firefox */
/* scrollbar-width: thin;
scrollbar-color: #718096 #cbd5e0; */

